.git
.gitignore
.idea
.vscode
.gradle
**/build
**/.gradle
**/.cxx
**/*.iml
**/.DS_Store
local.properties

composeApp
iosApp
prototype
docs
webBuyer/node_modules
webBuyer/dist

*.md
LICENSE
fly.toml
.dockerignore
Dockerfile
